<div>
  // create introduction component here
</div>

<mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" style="width: 50%">
      <div fxLayout="column">
      <mat-form-field class="col-12">
        <input
          type="number"
          id="number"
          formControlName="claim_amount"
          matInput
          required
          placeholder="Claim Amount"
        />
      </mat-form-field>
      <mat-form-field class="col-12">
        <input type="text" id="diagnosis" formControlName="diagnosis" matInput placeholder="Diagnosis" required />
      </mat-form-field>
      <mat-form-field class="col-12">
        <input type="text" id="product" formControlName="product" matInput placeholder="Product" required />
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-select
          id="status"
          formControlName="status"
          placeholder="Status"
        >
          <mat-option *ngFor="let status of statuses" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <button mat-button mat-raised-button color="primary">Predict</button>

    </form>
  </mat-card-content>
</mat-card>

<div>
  <ng-container *ngIf="predictionScore">
    <mat-accordion *ngIf="predictionScore | async as score">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Claim prediction score
          </mat-panel-title>
          <mat-panel-description>
            {{predictionScore | async}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="score >= 50 && score < 65">Reject since claim doesn't meet minimum threshold</p>
        <p *ngIf="score >= 65 && score < 80">Manually evaluate or ask provider for more details</p>
        <p *ngIf="score >= 80 && score < 100">Approve since meets minimum  approval threshold</p>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
